html{ scroll-behavior: smooth; }
body{ font-family: 'Poppins', sans-serif; }
header, footer, .top-header{ font-family: 'DM Sans', sans-serif; }
.bg-orange{
  background-color: orange;
}
.bg-light-orange{
  background-color: #FAF8F5;
}
.btn-outline-orange{
  border: 2px solid orange;
  color: orange;
  transition: all 0.2s ease-in-out;
}
.btn-outline-orange:hover{
  background-color: orange;
  color: #fff;
}
.text-orange{
  color: orange;
}
.border-orange{
  border: 5px solid orange;
  border-radius: 20px;
  overflow: hidden;
}
.btn-icon{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.dropdown-item{
  transition: all 0.1s ease;
}
.dropdown-item:hover{
  background-color: orange;
  color: #fff;
}
#header{
  top: -90px;
  transition: top 0.3s ease-in-out;
}
.navbar .navbar-brand img{
  height: 40px;
}
.banner{
  background-image: url('../img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.margin-section{
  padding: 200px 0px;
}
.title-border-bottom{
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: orange;
  display: inline-block;
}
/* .title::after{
  content: '';
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: orange;
  display: inline-block;
  position: relative;
  bottom: -30px;
  right: 45%;
} */
.img-team{
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.konsultasi{
  background-color: orange;
  background-image: url(../img/consultan1.png);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}
::placeholder .form-control{
  color: #fff !important;
}
#footer{
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-container{
  background-color: rgba(255, 255, 255, 0.7);
}
.hidden-menu{
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.hidden-menu.active{
  transform: translateX(0);
}
.screen-hidden-menu{
  height: 100vh;
  width: 100%;
  background-color: none;
  display: block;
}

@media screen and (min-width: 768px){
  .w-lg-75{ width: 75% !important; }
}

@media screen and (max-width: 768px){
  .navbar .navbar-brand img{
    height: 30px;
  }
  .title::before{
    content: none;
  }
  .title::after{
    content: none;
  }
  .konsultasi{
    background-image: none;
  }
  .bg-image-konsultasi{
    background-image: url(../img/consultan1.png);
    background-size: cover;
  }
}
@media screen and (max-width: 576px){
  h1, .h1{
    font-size: 2rem !important;
  }
  .margin-section{
    padding: 100px 0px;
  }
}